.masonry-grid {
  column-count: 4;
  column-gap: 20px;
  margin-top: 100px;
}

@media (max-width: 1100px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (max-width: 700px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .masonry-grid {
    column-count: 1;
  }
}

.masonry-grid-item {
  break-inside: avoid;
  margin-bottom: 20px;
}
/* global.css */
.example {
  font-family: "Lato", sans-serif;
}
